# DPI Engine Project ignored files

# Compiled C++ Objects and Executables
*.o
*.out
*.exe
*.dll
*.so
*.dylib
build/
install/
out/
.vs/

# PCAP Packet Captures (large data)
*.pcap
!test_dpi.pcap
*.cap
*.dmp
uploads/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Node.js
frontend/node_modules/
node_modules/
npm-debug.log
yarn-error.log

# IDEs & OS specific
.DS_Store
Thumbs.db
.idea/
.vscode/

# Project specific logs and generic outputs
*.log
debug_out.txt
fixed_out.txt
